
  <div class="container">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-sm-3">
          <div class="card">
            <div class="text">
              <h2><%=cocktail.name %></h2>
            </div>
            <div class="btns">
              <%= link_to('<i class="fas fa-search"></i> Show'.html_safe, cocktail_path(cocktail),  class: "btn-fnt") %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

</div>
