.home-banner {
  background-image: url('https://stmed.net/sites/default/files/flamingo-wallpapers-25472-2779785.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 40px;
  height: calc(100vh - 150px);


}

