
.create-btn {
  margin-top: 50px;
}

.btn-fnt {
  padding: 10px 15px 10px 15px;
  border-radius: 4px;
  border: 1px solid #94e8d3;
  background-color: #94e8d3;
  color: white;
  text-decoration: none;
  max-width: 250px;
  display: block;
  &:hover {
    text-decoration: none;
    color: #94e8d3 !important;
    background-color: white;
  }
}

.btns {
  margin-top: 10px;
}

.btns-all {
  margin-top: 40px;
}
