.card {
  height: 220px;
  text-align: center;
  background-size: cover !important;
  background-position: center;
  background-color: rgba(240, 240, 240, 0.9);
  position: relative;
  padding: 20px;
  border-radius: 5px;
  margin: 0px 10px 20px 0px;
  display: flex;
  justify-content:space-around;
  align-items:center;
  h2 {
    font-family: 'Lobster', cursive;
    font-size: 28px;
  }
  p {
    margin: 0px 0px 2px 0px;
  }
}

.cocktail-name {

}
.card-show {
  background-color: rgba(250, 250, 250, 0.9);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  h2 {
    margin: 0px 0px 5px 0px;
  }
  p {
    margin: 0px 0px 2px 0px;
  }
  display:flex
}

.content-visible {

}
.content-hover {
  margin-top: 0px;
  text-align: center;
  height: 220px;
  padding: 10px 20px 20px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: rgba(250, 250, 250, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

.content-visible:hover .content-hover {
  opacity: 1;
}

.text {
  margin-bottom: 20px;
}

.thin {
  font-weight: lighter;
  font-size: 12px;
}


.background-image img{

  width:100%;
  height:200px;
  padding:0px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

img {
  border-radius: 5px;
  padding: 15px;
  width: 100%;
}



